body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 25px;
}

.city {
    r: 4;
    /* fill: #5b702a; */
    fill: #27422a;
}

.depot {
    r: 5;
    fill: #fff;
    /* fill: #000000; */
}

path.connection {
    stroke-width: 1px;
    fill: none;
}

.column {
  float: right;
  margin: 0 20px 0 20px;
  text-align: left;
  line-height: 20px;
}

.card {
  width: 300px;
  margin: 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #4c4c4c;
  font-size: 14px;
  background: #ffffff;
}

.card-container {
  border: 1px solid #ffb2ae;
  padding: 10px;
}

.card-label {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ffb2ae;
  width: 100%;
}
